doctype html
html(lang='en')

  include ../mixins/input-group.pug
  include ../includes/head.pug

  body

    include ../includes/nav-bar.pug

    #top.jumbotron
      .container
        h2.display-6 User Create

    .container

      form

        if (ldapEnabled === true)
          input#userid.hide(value=LDAPUserId)
          +inputGroup('username', 'User name')(readonly='readonly', value=LDAPUserName)
        else
          +inputGroup('username', 'User name')(autocomplete='off', data-minlength='3', data-errormessage='User name must be at least 3 characters')
          +inputGroup('password', 'Password')(autocomplete='off', type='password', data-regex='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})', data-errormessage='Must be greater than or equal to 8 characters and contain lower and upper case characters with numbers and special characters')
          +inputGroup('confirm-password', 'Confirm password')(autocomplete='off', type='password', data-regex='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})', data-errormessage='Must be greater than or equal to 8 characters and contain lower and upper case characters with numbers and special characters', data-comparison='password', data-comparisontype='equal-to', data-comparisonerrormessage='Passwords do not match!')

        .form-group
          .form-check
            label.form-check-label
              input#enabled.form-check-input(type='checkbox', checked='checked')
              |  Enabled

        div.panel.panel-default.permissions.col-md-12
          div.permissions-heading
            | Roles
          div#role-permissions

          #add-role.form-group.col-md-12.team
            label.form-control-label(for='role') Add a role:
            input#role.typeahead.form-control.col-md-8(type='text', autocomplete='off', placeholder="Select a role", value='', data-errormessage="Select a valid role")
            #role-info.form-control-feedback

        div.panel.panel-default.permissions.col-md-12
          div.permissions-heading
            | Team Permissions
          div#team-permissions

          #add-team.form-group.col-md-12.team
            label.form-control-label(for='team') Add a team:
            input#team.typeahead.form-control.col-md-8(type='text', autocomplete='off', placeholder="Select a team", value='', data-errormessage="Select a valid team")
            #team-info.form-control-feedback

        div.panel.panel-default.permissions.col-md-12
          div.permissions-heading
            | App Configuration Permissions
          div#app-permissions

          #add-app.form-group.col-md-12.team
            label.form-control-label(for='app') Add an app:
            input#app.typeahead.form-control.col-md-8(type='text', autocomplete='off', placeholder="Select an app", value='', data-errormessage="Select a valid app")
            #app-info.form-control-feedback

        div.text-right
          button#createUser.btn.btn-primary(type="button", data-loading-text="<i class='icon-spinner icon-spin'></i> Creating user") Create user

        include ../includes/error-box.pug

      include ../includes/footer.pug

    include ../includes/scripts.pug

    script(type='text/javascript').
      var ldapEnabled = #{ldapEnabled};
      var availableTeams = !{JSON.stringify(available.teams)};
      var availableApps = !{JSON.stringify(available.apps)};
      var appEnvironments = !{JSON.stringify(available.appEnvironments)};
      var availableRoles = !{JSON.stringify(availableRoles)};

      $(function() {
          elencyConfig.createUser();
      });